@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0 text-dark">User Manager</h1>
                    <hr />
                    <button data-toggle="modal" data-target="#createModal" class="btn btn-success" onclick="ClearScreen();">Create New</button>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <table id="dataTable" class="table table-responsive-xl">
                <thead>
                    <tr>
                        <th>NIK</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Birth Date</th>
                        <th>Religion</th>
                        <th>Job Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="Id" id="Id">Id</label>
                                <input type="text" class="form-control" id="UserIdText" placeholder="Id" />
                            </div>
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" id="NameText" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group" id="FormRole">
                                <label for="Role">Role</label>
                                <select class="select2bs4 form-control" style="width: 100%" id="RoleIdText" name="Role">
                                    <option value="">Select Role...</option>
                                    @foreach (var item in ViewBag.Roles)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group" id="FormApplication">
                                <label for="Application">Application</label>
                                <select class="select2bs4 form-control" style="width: 100%" id="ApplicationIdText" name="Application">
                                    <option value="">Select Application...</option>
                                    @foreach (var item in ViewBag.Applications)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-primary" id="Save" onclick="Validation();">Submit</button>
                                <button type="button" class="btn btn-primary" id="Update" onclick="Validation();">Update</button>*@
                            <button type="button" class="btn btn-primary" id="AddRole" onclick="AssignRole();">Add</button>
                            <button type="button" class="btn btn-primary" id="AddApp" onclick="AssignApp();">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Id" id="CreateId">Id</label>
                                        <input type="text" class="form-control" id="CreateIdText" placeholder="Id" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Email">Email</label>
                                        <input type="text" id="EmailText" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Password</label>
                                        <input type="password" id="PasswordText" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="NIK" id="NIK">NIK</label>
                                        <input type="text" class="form-control" id="NIKText" placeholder="NIK" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Name</label>
                                        <input type="text" id="UserNameText" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group ">
                                        <label for="BirthDate">Birth Date</label>
                                        <input type="date" id="BirthDateText" class="form-control" placeholder="BirthDate">
                                    </div>
                                    <div class="form-group">
                                        <label for="BirthPlace">Birth Place</label>
                                        <select class="select2bs4 form-control" style="width: 100%" id="BirthPlaceText" name="BirthPlace">
                                            <option value="">Select City...</option>
                                            @foreach (var item in ViewBag.Regencies)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Religion">Religion</label>
                                        <select class="select2bs4 form-control" style="width: 100%" id="ReligionText" name="Religion">
                                            <option value="">Select Religion...</option>
                                            @foreach (var item in ViewBag.Religions)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="PhoneNumber">Phone Number</label>
                                        <input type="text" id="PhoneText" class="form-control" placeholder="Phone Number">
                                    </div>
                                    <div class="form-group">
                                        <label for="Address">Address</label>
                                        <input type="text" id="AddressText" class="form-control" placeholder="Address">
                                    </div>
                                    <div class="form-group">
                                        <label for="JobTitle">Job Title</label>
                                        <select class="select2bs4 form-control" style="width: 100%" id="JobTitleText" name="JobTitle">
                                            <option value="">Select Job Title...</option>
                                            @foreach (var item in ViewBag.JobTitles)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Department">Department</label>
                                        <select class="select2bs4 form-control" style="width: 100%" id="DepartmentText" name="Department">
                                            <option value="">Select Department...</option>
                                            @foreach (var item in ViewBag.Departments)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Degree">Degrees</label>
                                        <select class="select2bs4 form-control" style="width: 100%" id="DegreeText" name="Degree">
                                            <option value="">Select Degree...</option>
                                            @foreach (var item in ViewBag.Degrees)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="University">University</label>
                                        <input type="text" id="UniversityText" class="form-control" placeholder="University">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="Save" onclick="Validation();">Submit</button>
                            <button type="button" class="btn btn-primary" id="Update" onclick="Validation();">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/. container-fluid -->
    </section>
</div>
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.js"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script src="~/js/demo.js"></script>
    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- PAGE SCRIPTS -->
    <script src="~/js/pages/dashboard2.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://kit.fontawesome.com/2248d5bdb1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
    </script>
    <script>
        $(document).ready(function () {
            debugger;
            $("#dataTable").DataTable({
                "ajax": {
                    "url": "/Users/GetUserManager",
                    "type": "GET",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "nik" },
                    { "data": "name" },
                    { "data": "email" },
                    {
                        "data": "birthDate", "render": function (a) {
                            return moment(a).format('DD/MM/YYYY');
                        }
                    },
                    { "data": "religion" },
                    { "data": "jobTitle" },
                    {
                        "render": function (data, type, row, meta) {
                            return "<a class='btn btn-warning' onClick=GetById('" + row.id + "');><i class ='fa fa-pencil'></i></a>&nbsp<a class='btn btn-danger' onClick=Delete('" + row.id + "');><i class='fa fa-trash-alt'></i></a><hr><a class='btn btn-primary text-light' onClick=AddRole('" + row.id + "');><i class='fa fa-user'></i></a>&nbsp<a class='btn btn-primary text-light' onClick=AddApplication('" + row.id + "');><i class='fa fa-book'></i></a>";
                        }
                    }
                ]
            });
        });
        function Delete(Id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    debugger
                    $.ajax({
                        "url": "/Users/Delete/" + Id,
                        "dataType": "json",
                        "data": { id: Id }
                    }).then((hasil) => {
                        debugger
                        if (hasil.data[0] != 0) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Your data has been deleted',
                                text: 'Deleted!',
                                onclose: location.reload()
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Your data not deleted',
                                text: 'Failed!'
                            })
                        }
                    })
                }
            })
        }

        function ClearScreen() {
            $("#CreateId").hide();
            $("#CreateIdText").hide();
            $("#UserNameText").val('');
            $("#Update").hide();
            $("#AddRole").hide();
        } 5
        function Save() {
            debugger
            var employee = new Object();
            employee.email = $("#EmailText").val();
            employee.passwordHash = $("#PasswordText").val();
            employee.nik = $("#NIKText").val();
            employee.name = $("#UserNameText").val();
            employee.birthDate = $("#BirthDateText").val();
            employee.regency_Id = $("#BirthPlaceText").val();
            employee.religion_Id = $("#ReligionText").val();
            employee.phoneNumber = $("#PhoneText").val();
            employee.address = $("#AddressText").val();
            employee.jobTitle_Id = $("#JobTitleText").val();
            employee.department_Id = $("#DepartmentText").val();
            employee.degree_Id = $("#DegreeText").val();
            employee.university = $("#UniversityText").val();
            $.ajax({
                "url": "/Users/Post",
                "type": "POST",
                "dataType": "json",
                "data": employee
            }).then((result) => {
                debugger
                if (result.data.statusCode == 200) {
                    Swal.fire(
                        'Suc!',
                        'Your file has been inserted.',
                        'success'
                    ).then(() => {
                        $("#dataTable").DataTable().ajax.reload();
                    });
                } else {
                    Swal.fire(
                        'Failed!',
                        'Your file not inserted.',
                        'failed'
                    )
                }
            })
        }
        function AssignRole() {
            debugger;
            var role = new Object();
            role.Id = $("#RoleIdText").val();
            var IdUser = $("#UserIdText").val();
            $.ajax({
                "url": "/Users/AssignRole/" + IdUser,
                "type": "Post",
                "dataType": "json",
                "data": { Id: role.Id }
            }).then((result) => {
                debugger;
                if (result.data.statusCode == 200) {
                    Swal.fire(
                        'Success!',
                        'The User Has Been Assign To A Role.',
                        'success',
                        onclose = location.reload()
                    )
                } else {
                    Swal.fire(
                        'Failed!',
                        'This user already assign to selected role.',
                        'failed'
                    )
                }
            });
        }
        function AssignApp() {
            debugger;
            var app = new Object();
            app.application_Id = $("#ApplicationIdText").val();
            var UserId = $("#UserIdText").val();
            $.ajax({
                "url": "/Users/AssignApplication/" + UserId,
                "type": "Post",
                "dataType": "json",
                "data": { application_Id : app.application_Id }
            }).then((result) => {
                debugger;
                if (result.data.statusCode == 200) {
                    Swal.fire(
                        'Success!',
                        'The User Has Been Assign To An Application.',
                        'success',
                        onclose = location.reload()
                    )
                } else {
                    Swal.fire(
                        'Failed!',
                        'This user already assign to selected application.',
                        'failed'
                    )
                }
            });
        }
        function AddRole(Id) {
            debugger;
            $.ajax({
                "url": "/Users/Details/" + Id,
                "type": "GET",
                "dataType": "json",
                "data": { id: Id }
            }).then((result) => {
                if (result.data != null) {
                    $("#Id").hide();
                    $("#UserIdText").hide();
                    $("#UserIdText").val(result.data.id).hide();
                    $("#NameText").val(result.data.name);
                    $("#RoleIdText").val(result.data.role_Id);
                    $("#FormApplication").hide();
                    $("#FormRole").show();
                    $("#myModal").modal('show');
                    $("#AddRole").show();
                    $("#AddApp").hide();
                    $("#Update").hide();
                    $("#Save").hide();
                }
            })
        }
        function AddApplication(Id) {
            debugger;
            $.ajax({
                "url": "/Users/Details/" + Id,
                "type": "GET",
                "dataType": "json",
                "data": { id: Id }
            }).then((result) => {
                if (result.data != null) {
                    $("#Id").hide();
                    $("#UserIdText").hide();
                    $("#UserIdText").val(result.data.id);
                    $("#ApplicationIdText").val(result.data.application_Id)
                    $("#NameText").val(result.data.name);
                    $("#RoleIdText").hide();
                    $("#FormApplication").show();
                    $("#FormRole").hide();
                    $("#myModal").modal('show');
                    $("#AddApp").show();
                    $("#AddRole").hide();
                }
            })
        }
        function Validation() {
            debugger;
            if ($("#UserNameText").val() == "" || $("#UserNameText").val() == " ") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please Fill The Name!',

                })
            }
            else if ($("#CreateIdText").val() == "" || $("#CreateIdText").val() == " ") {
                Save();
            }
            else {
                Edit($("#UserIdText").val());
            }
        }
    </script>
}

